main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: #EAEAEA;
}
main .goBack {
  cursor: pointer;
  position: absolute;
  top: 21px;
  left: 45px;
  border-radius: 50%;
  border: none;
  padding: 10px;
  width: 94px;
  height: 99px;
}
main h1 {
  margin-top: 50px;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 156px;
  margin-top: 51px;
}
main section .card {
  border: 1px solid;
  border-top: 5px solid #171C56;
  width: 400px;
  height: 400px;
}
main section .card h1 {
  margin-block: 17px;
  margin-left: 36px;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main section .card hr {
  margin-inline: 35px;
}
main section .card h2 {
  margin-block: 17px;
  margin-left: 36px;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main section .card p {
  width: 226px;
  color: #6C6C6C;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 36px;
}
main section .card button {
  cursor: pointer;
  margin-left: 35px;
  margin-top: 16px;
  border: none;
  background: aqua;
  padding: 12px;
  border-radius: 35px;
}
main section .card button:hover {
  background: rgba(5, 165, 165, 0.579);
  transition: 0.5s ease;
}